.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

    grid-template-areas: 'psa date';
}

.psa-area {
    grid-area: psa;
}

.date-area {
    grid-area: date;
}

.radio-btns {
    padding-bottom: 15px;
}
